<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }

      img {
        height: auto;
        max-width: none;
      }

      #sources-parent {
        position: fixed;
        padding: 10px;
        background-color: white;
        top: 0px;
        overflow: auto;
      }

      .selected {
        border: 3px solid #66c394;
        margin-top: -3px;
        margin-left: -3px;
      }
    </style>
    <title>Venues</title>
  </head>
  <body>
    <div id="map"></div>
    <div id='sources-parent' >
      <a style='float:right;' href='#' >Sources</a>
      <div id='sources' style='display:none;' ></div>
    </div>
    <script type="text/javascript">

var map;
var markers = {};
var opened = [];
var allSelected = true;
function initMap() {
  $('#sources-parent a').on('click', toggleSources)

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7127, lng: -74.0059},
    zoom: 14
  });

  /*if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      map.setCenter(pos);
      map.setZoom(17)
    }, function() {

    });
  }*/

  $.get('/venues', {}, function(data, status, xhr){
    _.each(data.venues, function(venue){
      venue = $.parseJSON(venue)
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(venue.lat, venue.lng),
        title: venue.name
      });

      addInfoWindow(marker, venue);

      var hsh = markers[venue.source] || {}
      key = venue.source_title || 'all'
      arr = hsh[key] || []
      arr.push(marker)
      hsh[key] = arr
      markers[venue.source] = hsh
    })
    sourceDiv = $('#sources')
    _.each(markers, function(hsh, src){
      var dv = document.createElement('div');
      var lbl = document.createElement('label');

      length = _.reduce(hsh, function(memo, arr){
        return memo + arr.length
      }, 0)
      var txt = document.createTextNode( src + ' (' + length + ')');
      var chk = document.createElement('input')
      chk.type = 'checkbox'
      chk.value = src
      chk.addEventListener('change', toggleMarkers);

      lbl.appendChild(txt);
      lbl.appendChild(chk);
      dv.appendChild(lbl);

      if(_.keys(hsh).length > 1){
        var plus = document.createElement('a')
        plus.href = '#'
        txt = document.createTextNode('+')
        plus.appendChild(txt)
        plus.addEventListener('click', toggleSubmarkersDisplay)
        dv.appendChild(plus)

        var dv2parent = document.createElement('div')
        dv2parent.style.display = 'none'
        dv.appendChild(dv2parent)
        _.each(hsh, function(arr, title){
          var dv2 = document.createElement('div');
          lbl = document.createElement('label');
          lbl.style['margin-left'] = '5px';
          txt = document.createTextNode(title + ' (' + arr.length + ')');
          chk = document.createElement('input')
          chk.type = 'checkbox'
          chk.value = title
          chk.dataset.parentSource = src
          chk.addEventListener('change', toggleSubmarkers)

          lbl.appendChild(txt);
          lbl.appendChild(chk);
          dv2.appendChild(lbl);
          dv2parent.appendChild(dv2);
        })
      }

      sourceDiv.append(dv);
    })

    inp = $(sourceDiv).find('input')[0]
    inp.checked = true
    setMarkers(true, inp.value, inp)

  }, 'json')

  document.addEventListener('keydown', function(evt){
    if(evt.keyCode == 27 && !_.isEmpty(opened)){
      // 27 == ESC
      if(allSelected){
        while(opened.length){
          var infowindow = opened.pop()
          infowindow.close()
        }
        allSelected = false
        $('.selected').removeClass('selected')
      } else {
        var infowindow = opened.pop()
        infowindow.close()
      }
    } else if ((evt.keyCode == 97 || evt.keyCode == 65) && (evt.metaKey || evt.ctrlKey)){
      // 97 == A
      allSelected = true
      $('.venue-infowindow').parent().parent().parent().parent().addClass('selected')
      evt.preventDefault()
    }

  })
}

function addInfoWindow(marker, venue){
  var description = _.isArray(venue.description) ? venue.description[0] : venue.description
  var infowindow = new google.maps.InfoWindow({
     content: "<div class='venue-infowindow' ><h2>" + venue.name + "</h2><p>" + (description ? description.replace(". None", "") : '') + "</p>" +
        "<a href='" + venue.source_url + "' >" + (venue.source_title || venue.source) + "</a></div>"
   });
  google.maps.event.addListener(marker, 'click', function(){
    infowindow.open(map, marker)
    opened.push(infowindow)
  })
}


function toggleMarkers(evt){
  setMarkers(evt.target.checked, evt.target.value, evt.target)
}

function turnOffMarkers(evt){
  evt.preventDefault
  setMarkers(false, evt.target.dataset.parentSource, evt.target)
}

function setMarkers(checked, src, target){
  var mapToSet = checked ? map : null
  _.each(markers[src], function(arr){
    _.each(arr, function(marker){
      marker.setMap(mapToSet)
    })
  });
  children = $(target.parentElement.parentElement).find('div').find('input')
  _.each(children, function(inp){
    inp.checked = checked
  })
}

function toggleSubmarkers(evt){
  var src = evt.target.dataset.parentSource
  var title = evt.target.value;
  var mapToSet = evt.target.checked ? map : null
  _.each(markers[src][title], function(marker){
    marker.setMap(mapToSet)
  })

}

function toggleSources(evt){
  evt.preventDefault()
  dv = $('#sources')[0]
  dvparent = $('#sources-parent')[0]
  if(dv.style.display == 'none'){
    dv.style.display = ''
    dvparent.style.bottom = 0
    evt.target.innerText = 'Hide'
  }else{
    dv.style.display = 'none';
    evt.target.innerText = 'Sources'
    dvparent.style.bottom = null;
  }
}

function toggleSubmarkersDisplay(evt){
  $(evt.target.nextSibling).toggle()
  evt.target.innerText = evt.target.innerText == '+' ? '-' : '+'
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUWVZ7sLZmBd_rBXiSyFzn5cgUmKDYlQQ&callback=initMap">
    </script>
  </body>
</html>
